<section class="container best-sale">
    <div class="content-header clearfix">
        <div>
            <h2>Las mas vendidas</h2>
            <p>Lorem ipsum dolor sit amet consectetur labore.</p>
        </div>
        <div class="sale-location">
            <span>Donde Comprar?</span>
            <div class="select-box">
                <div class="select-box-current">
                    <span class="current-location">San José</span>
                    <i class="ico ico-gt-down"></i>
                </div>
                <ul class="select-box-options">
                    <li class="location">Alajuela</li>
                    <li class="location">Cartago</li>
                    <li class="location">Guanacaste</li>
                    <li class="location">Heredia</li>
                    <li class="location">Limón</li>
                    <li class="location">Puntarenas</li>
                    <li class="location selected">San José</li>      
                </ul>
            </div>
        </div>
    </div>
    <div class="best-sale-slider">
        <ul class="container best-sale-slider-container slidethis pafClase" data-slidethis="id|bikes,animate|true,delay|20,speed|300">
            <li class="col4 sale-slider-column sale-slider-column">
                <div class="sale-column active">
                    <img class="best-sale-product" src="/img/python-j100.png" alt="Python J100">
                    <h3>Python J100</h3>
                    <ul class="list">
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Adipisicing elit sed do eiusmod</li>
                        <li>Incididunt labore dolore magna</li>
                    </ul>
                    <p class="price-container"><span class="price price-medium price-tile">¢50.000</span><strong>FINANCIADO A 16 MESES</strong></p>
                    <p class="price-container"><span class="price price-small price-tile">¢750.000</span><strong>AL CONTADO</strong></p>
                    <a href="#" class="ribbon"><i class="ico ico-ribbon-base"></i><span class="ribbon-content"><strong>MAS INFORMACION</strong><i class="ico ico-gt"></i></span><i class="ico ico-ribbon-point"></i></a>
                    <a href="#">Comparar Modelos<i class="ico ico-gt-small"></i></a>
                </div>
            </li>
            <li class="col4 sale-slider-column">
                <div class="sale-column">
                    <img class="best-sale-product" src="/img/python-j100.png" alt="Python J100">
                    <h3>Python J100</h3>
                    <ul class="list">
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Adipisicing elit sed do eiusmod</li>
                        <li>Incididunt labore dolore magna</li>
                    </ul>
                    <p class="price-container"><span class="price price-medium price-tile">¢50.000</span><strong>FINANCIADO A 16 MESES</strong></p>
                    <p class="price-container"><span class="price price-small price-tile">¢750.000</span><strong>AL CONTADO</strong></p>
                    <a href="#" class="ribbon"><i class="ico ico-ribbon-base"></i><span class="ribbon-content"><strong>MAS INFORMACION</strong><i class="ico ico-gt"></i></span><i class="ico ico-ribbon-point"></i></a>
                    <a href="#">Comparar Modelos<i class="ico ico-gt-small"></i></a>
                </div>
            </li>
            <li class="col4 sale-slider-column">
                <div class="sale-column">
                    <img class="best-sale-product" src="/img/python-j100.png" alt="Python J100">
                    <h3>Python J100</h3>
                    <ul class="list">
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Adipisicing elit sed do eiusmod</li>
                        <li>Incididunt labore dolore magna</li>
                    </ul>
                    <p class="price-container"><span class="price price-medium price-tile">¢50.000</span><strong>FINANCIADO A 16 MESES</strong></p>
                    <p class="price-container"><span class="price price-small price-tile">¢750.000</span><strong>AL CONTADO</strong></p>
                    <a href="#" class="ribbon"><i class="ico ico-ribbon-base"></i><span class="ribbon-content"><strong>MAS INFORMACION</strong><i class="ico ico-gt"></i></span><i class="ico ico-ribbon-point"></i></a>
                    <a href="#">Comparar Modelos<i class="ico ico-gt-small"></i></a>
                </div>
            </li>
            <li class="col4 sale-slider-column">
                <div class="sale-column">
                    <img class="best-sale-product" src="/img/python-j100.png" alt="Python J100">
                    <h3>Python J100</h3>
                    <ul class="list">
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Adipisicing elit sed do eiusmod</li>
                        <li>Incididunt labore dolore magna</li>
                    </ul>
                    <p class="price-container"><span class="price price-medium price-tile">¢50.000</span><strong>FINANCIADO A 16 MESES</strong></p>
                    <p class="price-container"><span class="price price-small price-tile">¢750.000</span><strong>AL CONTADO</strong></p>
                    <a href="#" class="ribbon"><i class="ico ico-ribbon-base"></i><span class="ribbon-content"><strong>MAS INFORMACION</strong><i class="ico ico-gt"></i></span><i class="ico ico-ribbon-point"></i></a>
                    <a href="#">Comparar Modelos<i class="ico ico-gt-small"></i></a>
                </div>
            </li>
        </ul>
        <!-- Indicators -->
        <a href="javascript:void(0);" class="slidethis-controls slidethis-prev" data-slidethis="id|bikes"><i class="ico ico-left-arrow ico-text slider-normal">Prev</i><i class="ico ico-left-arrow-alternate ico-text slider-hover">Prev</i></a>
        <a href="javascript:void(0);" class="slidethis-controls slidethis-next" data-slidethis="id|bikes"><i class="ico ico-right-arrow ico-text slider-normal">Next</i><i class="ico ico-right-arrow-alternate ico-text slider-hover">Next</i></a>     
    </div>
</section>
{% contentfor inlinescripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.select-box').selectBox();
        $('.pafClase').setColumnsEqualHeight({
            parentHasHeight: true
        });
    });
</script>
{% endcontentfor %}