<section class="container">
    <div class="content-header clearfix">
        <div>
            <h2>Las mas vendidas</h2>
            <p>Lorem ipsum dolor sit amet consectetur labore.</p>
        </div>
        <div class="sale-location">
            <span>Donde Comprar?</span>
            <div class="select-box">
                <div class="select-box-current">
                    <span class="current-location">San José</span>
                    <i class="ico ico-gt-down"></i>
                </div>
                <ul class="select-box-options">
                    <li class="location">Alajuela</li>
                    <li class="location">Cartago</li>
                    <li class="location">Guanacaste</li>
                    <li class="location">Heredia</li>
                    <li class="location">Limón</li>
                    <li class="location">Puntarenas</li>
                    <li class="location selected">San José</li>      
                </ul>
            </div>
        </div>
    </div>
    
</section>
{% contentfor inlinescripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.select-box').selectBox();
    });
</script>
{% endcontentfor %}