<section class="container best-sale">
    <div class="content-header clearfix">
        <div>
            <h2>Las mas vendidas</h2>
            <p>Lorem ipsum dolor sit amet consectetur labore.</p>
        </div>
        <div class="sale-location">
            <span>Donde Comprar?</span>
            <div class="select-box">
                <div class="select-box-current">
                    <span class="current-location">San José</span>
                    <i class="ico ico-gt-down"></i>
                </div>
                <ul class="select-box-options">
                    <li class="location">Alajuela</li>
                    <li class="location">Cartago</li>
                    <li class="location">Guanacaste</li>
                    <li class="location">Heredia</li>
                    <li class="location">Limón</li>
                    <li class="location">Puntarenas</li>
                    <li class="location selected">San José</li>      
                </ul>
            </div>
        </div>
    </div>
    <div class="best-sale-slider">
        <ul class="container best-sale-slider-container slidethis pafClase" data-slidethis="id|bikes,animate|true,delay|20,speed|300">
            {% for page in site.pages %}
                {% if page.is-bike == true %}
                    <li class="col4 sale-slider-column sale-slider-column">
                        <div class="sale-column active">
                            <img class="best-sale-product" src="{{ page.small-bike-img }}" alt="Python J100">
                            <h3>{{ page.model }}</h3>
                            {% include modules/feature-list.html %}
                            <p class="price-container"><span class="price price-medium price-tile">{{ page.financed-price }}</span><strong>FINANCIADO A {{ page.financed-period }} MESES</strong></p>
                            <p class="price-container"><span class="price price-small price-tile">{{ page.cash-price }}</span><strong>AL CONTADO</strong></p>
                            <a href="{{ page.more-info-url }}" class="ribbon"><i class="ico ico-ribbon-base"></i><span class="ribbon-content"><strong>MAS INFORMACION</strong><i class="ico ico-gt"></i></span><i class="ico ico-ribbon-point"></i></a>
                            <a href="#">Comparar Modelos<i class="ico ico-gt-small"></i></a>
                        </div>
                    </li>
                {% endif %}      
            {% endfor %}
        </ul>
        <!-- Indicators -->
        <a href="javascript:void(0);" class="slidethis-controls slidethis-prev" data-slidethis="id|bikes"><i class="ico ico-left-arrow ico-text slider-normal">Prev</i><i class="ico ico-left-arrow-alternate ico-text slider-hover">Prev</i></a>
        <a href="javascript:void(0);" class="slidethis-controls slidethis-next" data-slidethis="id|bikes"><i class="ico ico-right-arrow ico-text slider-normal">Next</i><i class="ico ico-right-arrow-alternate ico-text slider-hover">Next</i></a>     
    </div>
</section>
{% contentfor inlinescripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.select-box').selectBox();
        $('.pafClase').setColumnsEqualHeight({
            parentHasHeight: true
        });
    });
</script>
{% endcontentfor %}