<ul class="bxslider">
  <li>{% include home/slider/slider-1.html %}</li>
  <li><div style=" height: 300px; text-align: center; background-color: blue; width: auto;"></div></li>
  <li><div style=" height: 300px; text-align: center; background-color: green; width: auto;"></div></li>
  <li><div style=" height: 300px; text-align: center; background-color: purple; width: auto;"></div></li>
</ul>

<!-- <div class="rotate rotate-right"></div> -->



{% contentfor inlinescripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.bxslider').bxSlider();
    });
</script>
{% endcontentfor %}