<ul class="bxslider">
  <li><div style=" height: 200px; text-align: center; background-color: red; width: auto;"></div></li>
  <li><div style=" height: 200px; text-align: center; background-color: blue; width: auto;"></div></li>
  <li><div style=" height: 200px; text-align: center; background-color: green; width: auto;"></div></li>
  <li><div style=" height: 200px; text-align: center; background-color: purple; width: auto;"></div></li>
  <li><div style=" height: 200px; text-align: center; background-color: orange; width: auto;"></div></li>
</ul>

{% contentfor inlinescripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.bxslider').bxSlider();
    });
</script>
{% endcontentfor %}