<section class="offers has-rotated">
    <div class="rotate rotate-right"></div>
    <div class="offers-container">
        <div class="container offers-content">
            <h2>Promociones</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="offers-column-container">
                <div class="col4">
                    <div class="offers-column">
                        <span>320 x 200 Promocional</span>
                    </div>
                </div>
                <div class="col4">
                    <div class="offers-column">
                        <span>320 x 200 Promocional</span>
                    </div>
                </div>
                <div class="col4-last">
                    <div class="offers-column">
                        <span>320 x 200 Promocional</span>  
                    </div>
                </div>    
            </div>
        </div>
    </div>
</section>