/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

a {
  color: #00e;
}

a:visited {
  color: #551a8b;
}

a:hover {
  color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* Prevent callout */
.nocallout {
  -webkit-touch-callout: none;
}

.pressed {
  background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {
  -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */
.gifhidden {
  position: absolute;
  left: -100%;
}

/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}

.ir br {
  display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*
 * Base styles
 */
body {
  background: #ffffff;
  font-size: 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-width: 1000px;
}

h1, h2, h3, h4, h5, h6, p, ul {
  color: black;
  margin: 0;
  padding: 0;
}

h1 {
  color: black;
  font-size: 4.5em;
  font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0.666666667em;
}
h1 > sup {
  font-size: 25%;
  top: -1.8em;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.1875em;
  margin-bottom: 0.142857143em;
  text-transform: uppercase;
}

h3 {
  font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  letter-spacing: -0.025em;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.714285714em;
}

h5 {
  font-size: 1.285714286em;
}

h6 {
  font-size: 1em;
}

ul {
  margin-bottom: 30px;
}

p {
  margin-bottom: 1.25em;
}

a {
  color: black;
  font-size: 0.875em;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #7db701;
  text-decoration: underline;
}
a:visited {
  color: black;
}
a.inverted {
  color: white;
}

hr {
  margin: 2.142857143em 0;
  border-top: 0.071428571em solid #e0e0e0;
}

table {
  table-layout: fixed;
  width: 100%;
}

.lt-ie8 ul {
  padding-left: 1.142857143em;
}
.lt-ie8 li {
  vertical-align: top;
}

.container {
  color: black;
  font-size: 16px;
  min-width: 1000px;
  *zoom: 1;
  max-width: 1000px;
  _width: 1000px;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.rotate {
  margin-left: -12px;
  padding: 40px 0;
  width: 102%;
}

.rotate-right {
  transform: rotate(2.5deg);
}

.rotate-left {
  transform: rotate(-2.5deg);
}

.has-rotated {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.has-rotated > .rotated-content {
  position: relative;
  z-index: 1;
}

.rotated-container > .is-rotated:last-child {
  padding-bottom: 0;
}
.rotated-container > .is-rotated:last-child:after {
  display: none;
}
.rotated-container > .is-rotated:first-child {
  padding-top: 0;
}
.rotated-container > .is-rotated:first-child:before {
  display: none;
}

.is-rotated {
  padding-top: 80px;
  padding-bottom: 80px;
}
.is-rotated.rotated-alternate-bg:before {
  background-color: whitesmoke;
  border-top: 1px solid #e4e4e4;
}
.is-rotated.rotated-alternate-bg:after {
  background-color: whitesmoke;
  border-bottom: 1px solid #e4e4e4;
}
.is-rotated:before, .is-rotated:after {
  content: "";
  display: block;
  padding: 50px 0;
  width: 102%;
  position: absolute;
}
.is-rotated.rotated-left:before {
  transform: rotate(-2.5deg);
  top: 34px;
}
.is-rotated.rotated-left:after {
  transform: rotate(-2.5deg);
  bottom: 34px;
}

.alternate-background {
  background-color: whitesmoke;
}

.col1 {
  width: 6.47773%;
  float: left;
  margin-right: 2.02429%;
  display: inline;
}

.col1-last {
  width: 6.47773%;
  float: right;
  margin-right: 0;
  *margin-left: -1.25em;
  display: inline;
}

.col2 {
  width: 14.97976%;
  float: left;
  margin-right: 2.02429%;
  display: inline;
}

.col2-last {
  width: 14.97976%;
  float: right;
  margin-right: 0;
  *margin-left: -1.25em;
  display: inline;
}

.col3 {
  width: 23.48178%;
  float: left;
  margin-right: 2.02429%;
  display: inline;
}

.col3-last {
  width: 23.48178%;
  float: right;
  margin-right: 0;
  *margin-left: -1.25em;
  display: inline;
}

.col4 {
  width: 31.98381%;
  float: left;
  margin-right: 2.02429%;
  display: inline;
}

.col4-last {
  width: 31.98381%;
  float: right;
  margin-right: 0;
  *margin-left: -1.25em;
  display: inline;
}

.col5 {
  width: 40.48583%;
  float: left;
  margin-right: 2.02429%;
  display: inline;
}

.col5-last {
  width: 40.48583%;
  float: right;
  margin-right: 0;
  *margin-left: -1.25em;
  display: inline;
}

.col6 {
  width: 48.98785%;
  float: left;
  margin-right: 2.02429%;
  display: inline;
}

.col6-last {
  width: 48.98785%;
  float: right;
  margin-right: 0;
  *margin-left: -1.25em;
  display: inline;
}

.col7 {
  width: 57.48988%;
  float: left;
  margin-right: 2.02429%;
  display: inline;
}

.col7-last {
  width: 57.48988%;
  float: right;
  margin-right: 0;
  *margin-left: -1.25em;
  display: inline;
}

.col8 {
  width: 65.9919%;
  float: left;
  margin-right: 2.02429%;
  display: inline;
}

.col8-last {
  width: 65.9919%;
  float: right;
  margin-right: 0;
  *margin-left: -1.25em;
  display: inline;
}

.col9 {
  width: 74.49393%;
  float: left;
  margin-right: 2.02429%;
  display: inline;
}

.col9-last {
  width: 74.49393%;
  float: right;
  margin-right: 0;
  *margin-left: -1.25em;
  display: inline;
}

.col10 {
  width: 82.99595%;
  float: left;
  margin-right: 2.02429%;
  display: inline;
}

.col10-last {
  width: 82.99595%;
  float: right;
  margin-right: 0;
  *margin-left: -1.25em;
  display: inline;
}

.col11 {
  width: 91.49798%;
  float: left;
  margin-right: 2.02429%;
  display: inline;
}

.col11-last {
  width: 91.49798%;
  float: right;
  margin-right: 0;
  *margin-left: -1.25em;
  display: inline;
}

.col12-last {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1.25em;
  display: inline;
}

.header-top {
  background-color: black;
  border-bottom: 1px solid #292929;
  padding: 1em 0;
}

.header-top-content {
  overflow: hidden;
}
.header-top-content > .social-networks {
  float: left;
}
.header-top-content > .social-networks > span {
  color: #7f7f7f;
  display: inline-block;
  font-size: 0.8125em;
}
.header-top-content > .location {
  float: right;
  font-size: 0.8125em;
  line-height: 1.384615385em;
}
.header-top-content > .location > span {
  color: #7f7f7f;
}
.header-top-content > .location > span.current-location {
  color: #FFFFFF;
  margin-right: 1.230769231em;
}
.header-top-content > .location > a {
  border-left: 1px solid #292929;
  color: #ffc000;
  display: inline-block;
  padding-left: 1.230769231em;
}

.social-networks-list {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0.1875em;
}
.social-networks-list > li {
  display: inline-block;
}

.header-bottom {
  overflow: hidden;
  *zoom: 1;
  border: 1px solid #242424;
  background: #101010;
  /* Old browsers */
  background: -moz-linear-gradient(top, #101010 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #101010), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #101010 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #101010 0%, black 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #101010 0%, black 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #101010 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#101010', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}
.header-bottom > .container {
  padding: 1.5em 0 0;
}

.logo {
  float: left;
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 0;
}

.menu-list {
  overflow: hidden;
  *zoom: 1;
  float: right;
  margin-bottom: 0;
}
.menu-list > li {
  list-style: none;
  float: left;
  padding: 0 0.375em;
  text-align: center;
}
.menu-list a {
  color: #ffffff;
  display: inline-block;
  font-size: 0.75em;
  font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 1.5em;
  padding-bottom: 30px;
}
.menu-list a.active {
  border-bottom: 0.33333em solid #ffc000;
  color: #ffc000;
  padding-bottom: 2.333333333em;
}
.menu-list a.active + .sub-menu {
  display: block;
}
.menu-list .sub-menu {
  display: none;
  background-color: #FFFFFF;
  display: none;
  left: 0;
  padding: 30px 0;
  position: absolute;
  width: 100%;
  z-index: 99999;
}
.menu-list .sub-menu:hover {
  display: block;
}
.menu-list .sub-menu ul {
  margin: 0 145px 0 525px;
  text-align: left;
  height: 140px;
}
.menu-list .sub-menu ul > li {
  list-style: none;
  height: 140px;
  padding: 0 20px;
  width: 152px;
}
.menu-list .sub-menu ul p {
  bottom: 0;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  text-align: center;
}
.menu-list .sub-menu a {
  background-color: #F5F5F5;
  height: 200px;
  margin-top: -100px;
  outline: 0 none;
  padding: 0;
  position: absolute;
  text-indent: 0;
  top: 50%;
  width: 70px;
}
.menu-list .sub-menu .first-category {
  background-color: #ffc000;
  bottom: 0;
  position: absolute;
  top: 0;
  width: 460px;
}
.menu-list .sub-menu .first-category .border-category {
  position: absolute;
  right: -28px;
}
.menu-list .sub-menu .sub-menu-text {
  color: #000000;
  font-size: 16px;
  text-transform: uppercase;
}
.menu-list .sub-menu .first-category .sub-menu-text {
  line-height: 200px;
  margin: 0;
  position: absolute;
  right: 20px;
}
.menu-list .sub-menu .sub-menu-gradient {
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-8 */
  height: 550px;
  position: absolute;
  top: 200px;
  width: 100%;
}
.menu-list .sub-menu .prev {
  border-right: 1px solid #e1e1e1;
  left: 0;
}
.menu-list .sub-menu .next {
  border-left: 1px solid #e1e1e1;
  right: 0;
}

.footer {
  overflow: hidden;
  *zoom: 1;
  background-color: #000000;
}
.footer > .container {
  padding: 3.125em 0;
}

.copyright .logo {
  float: none;
}
.copyright > p {
  font-size: 0.875em;
  font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
}

.copyright-text {
  color: #7f7f7f;
  margin-top: 1.25em;
}

.grupo-monge {
  color: #ffc000;
}

.footer-lists {
  margin-bottom: 0;
}
.footer-lists > li {
  list-style: none;
}
.footer-lists > li > a {
  color: #7f7f7f;
  font-size: 0.875em;
  font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-decoration: none;
}
.footer-lists > li.title > a {
  color: #ffffff;
}
.footer-lists > li.active > a {
  color: #ffc000;
}

.ico {
  background-image: url('../img/ico-sbe3b943bc5.png');
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.ico-facebook {
  background-position: -44px -226px;
  height: 19px;
  width: 18px;
}

.ico-gplus {
  background-position: -26px -226px;
  height: 19px;
  width: 18px;
}

.ico-gt-alternate {
  background-position: -135px -226px;
  height: 23px;
  width: 15px;
}

.ico-gt-down {
  background-position: 0 -226px;
  height: 9px;
  width: 15px;
}

.ico-gt-small {
  background-position: -15px -226px;
  height: 16px;
  width: 11px;
}

.ico-gt {
  background-position: -80px -226px;
  height: 20px;
  width: 11px;
}

.ico-left-arrow-alternate {
  background-position: -91px -226px;
  height: 20px;
  width: 11px;
}

.ico-left-arrow {
  background-position: -102px -226px;
  height: 20px;
  width: 11px;
}

.ico-logo {
  background-position: 0 -200px;
  height: 26px;
  width: 217px;
}

.ico-ribbon-alternate-base {
  background-position: -50px 0;
  height: 50px;
  width: 17px;
}

.ico-ribbon-alternate-point {
  background-position: -29px 0;
  height: 50px;
  width: 21px;
}

.ico-ribbon-base {
  background-position: -16px 0;
  height: 40px;
  width: 13px;
}

.ico-ribbon-point {
  background-position: 0 0;
  height: 40px;
  width: 16px;
}

.ico-right-arrow-alternate {
  background-position: -124px -226px;
  height: 20px;
  width: 11px;
}

.ico-right-arrow {
  background-position: -113px -226px;
  height: 20px;
  width: 11px;
}

.ico-tringle-menu {
  background-position: -67px 0;
  height: 200px;
  width: 28px;
}

.ico-twitter {
  background-position: -62px -226px;
  height: 19px;
  width: 18px;
}

.ico-text {
  display: inline-block;
  overflow: hidden;
  text-indent: -99999px;
}

a > .ico-gt-small {
  margin-left: 0.5em;
}

.main-banner {
  min-height: 670px;
}

.main-banner-container > div {
  padding-top: 6.25em;
  padding-bottom: 2.5625em;
}

.main-banner-content {
  color: white;
  position: relative;
  z-index: 2;
}
.main-banner-content > h1 {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 0.9em;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.main-banner-content > ul, .main-banner-content p {
  color: white;
}
.main-banner-content > p {
  margin-bottom: 0;
  line-height: 2.2em;
}
.main-banner-content > .ribbon {
  margin-top: 1.25em;
  margin-right: 1.142857143em;
}

.main-banner-image {
  background-image: url("../img/bg-home-main-banner.png");
  background-position: right top;
  background-repeat: no-repeat;
  height: 698px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
@media all and (max-width: 1600px) {
  .main-banner-image {
    background-position: 630px 0;
  }
}

.bx-wrapper .bx-viewport {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
  left: 0 !important;
  z-index: 10;
}
.bx-wrapper .bx-prev {
  background: none !important;
  left: 0 !important;
}
.bx-wrapper .bx-next {
  background: none !important;
  right: 0 !important;
}
.bx-wrapper .bx-controls-direction a {
  background-color: #F5F5F5 !important;
  height: 200px !important;
  margin-top: -100px !important;
  text-indent: 0 !important;
  width: 70px !important;
}
.bx-wrapper .rotate {
  background: black;
  margin-top: -45px;
}

.img-arrow {
  left: 50%;
  margin-left: -6px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}

.bx-viewport-bg {
  background-color: #000000;
  bottom: 3em;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.bx-viewport-bg .bx-viewport-container-bg-rotate {
  bottom: -100px;
  height: 140px;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.bx-viewport-bg .rotate {
  bottom: 65px;
  height: auto;
  margin-left: -12px;
  margin-top: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

/*
** SlideThis Carousel
*/
.slidethis {
  overflow: hidden;
  position: relative;
}

.slidethis-controls {
  background-color: #F5F5F5;
  border: 1px solid #e0e0e0;
  position: absolute;
  text-align: center;
  top: 50%;
  vertical-align: middle;
  width: 60px;
}
.slidethis-controls > .slider-hover {
  display: none;
}
.slidethis-controls:hover {
  background-color: #ffc000;
  border-color: #ffc000;
}
.slidethis-controls:hover > .slider-normal {
  display: none;
}
.slidethis-controls:hover > .slider-hover {
  display: inline-block;
}

.best-sale-slider {
  position: relative;
}
.best-sale-slider > .slidethis-controls {
  line-height: 120px;
  margin-top: -60px;
  height: 120px;
}
.best-sale-slider > .slidethis-controls.slidethis-prev {
  left: -120px;
}
.best-sale-slider > .slidethis-controls.slidethis-next {
  right: -120px;
}

.best-sale-slider-container > .sale-slider-column {
  width: 320px;
}

.price-container > strong {
  font-size: 0.75em;
}

.price {
  color: #ffc000;
  font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.price.price-large {
  font-size: 2.875em;
  margin-right: 0.217391304em;
}
.price.price-medium {
  font-size: 2.25em;
  margin-right: 0.277777778em;
}
.price.price-small {
  font-size: 1.5em;
  margin-right: 0.416666667em;
}
.price.price-tile {
  display: block;
}

.list {
  list-style: none;
}
.list > li {
  padding-left: 15px;
}
.list > li:before {
  background-color: #ffc000;
  content: "";
  display: inline-block;
  height: 5px;
  margin-left: -15px;
  margin-right: 10px;
  vertical-align: middle;
  width: 5px;
}

.ribbon {
  display: inline-block;
  font-size: 0.875em;
}
.ribbon > .ribbon-content {
  background: url("../img/bg-ribbon.jpg") repeat-x 0 0;
  color: white;
  display: inline-block;
  padding-left: 1.071428571em;
  line-height: 2.857142857em;
  vertical-align: top;
}
.ribbon > .ribbon-content > .ico {
  margin-left: 0.857142857em;
  vertical-align: middle;
}
.ribbon > .ribbon-content.ribbon-alternate {
  background: url("../img/bg-ribbon-alternate.jpg") repeat-x 0 0;
  color: black;
  line-height: 3.571428571em;
}

/* 
** Select box 
*/
.select-box {
  color: #666666;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.select-box-current {
  border: 1px solid #e0e0e0;
  min-width: 188px;
  padding-bottom: 0.75em;
  padding-left: 0.9375em;
  padding-right: 0.625em;
  padding-top: 0.75em;
}
.select-box-current > .ico-gt-down {
  margin-left: 1.25em;
  margin-top: 0.3em;
  float: right;
}

.select-box-options {
  background-color: #ffffff;
  display: none;
  list-style: none;
  position: absolute;
  width: 100%;
}
.select-box-options > li {
  padding: 0.9375em;
  border: 1px solid #e0e0e0;
  border-top-width: 0;
}
.select-box-options > li:hover {
  background-color: #f5f5f5;
}
.select-box-options > li.selected {
  background-color: #ffc000;
}

/*
** General
*/
.content-header > div:first-child {
  float: left;
}
.content-header > .sale-location {
  float: right;
}
.content-header > .sale-location > span {
  font-weight: bold;
}
.content-header > .sale-location > .select-box {
  margin-left: 1em;
  z-index: 99;
}

/*
** Best Sale
*/
.best-sale {
  margin-bottom: 4.0625em;
}

.best-sale-slider {
  margin-top: 3.75em;
}

.best-sale-slider-container {
  padding-left: 0;
  padding-right: 0;
}

.sale-column {
  padding: 2.5em 1.875em;
}
.sale-column:hover {
  background-color: whitesmoke;
  border: 0.0625em solid #e0e0e0;
  border-top: 0.25em solid #ffc000;
  padding: 2.25em 1.8125em 2.4375em 1.8125em;
}
.sale-column > .list {
  font-size: 0.875em;
  color: #666666;
}
.sale-column > p {
  color: #666666;
  line-height: 1;
  margin-bottom: 1.875em;
}
.sale-column > h3 {
  font-size: 1.5em;
}
.sale-column > .best-sale-product {
  margin: 0 auto 3.4375em auto;
}
.sale-column > .ribbon {
  margin-bottom: 2.142857143em;
}

/*
** Offers
*/
.offers {
  padding-top: 82px;
}
.offers > .rotate {
  background-color: whitesmoke;
  border-top: 1px solid #e4e4e4;
  position: absolute;
  top: 45px;
}
.offers > .offers-container {
  background-color: whitesmoke;
  position: relative;
  z-index: 1;
}

.offers-content > p {
  color: #666666;
  max-width: 50%;
}

.offers-column-container {
  margin-top: 3.75em;
  margin-bottom: 5.625em;
  overflow: hidden;
}

.offers-column {
  background-color: #eaeaea;
  border: 1px solid #cfcfcf;
  line-height: 200px;
  min-height: 200px;
  text-align: center;
}
.offers-column > span {
  color: #666666;
  font-weight: bold;
  vertical-align: middle;
}

/*
** Bikes
*/
