---
layout: default
title: Motorcicles
---
<section class="bikes">
    <div class="bike-header-container">
        <div class="content-header bike-content-header container clearfix">
            <div>
                <h2>Motocicletas</h2>
            </div>
            <div class="sale-location">
                <span>Donde Comprar?</span>
                <div class="select-box">
                    <div class="select-box-current">
                        <span class="current-location">San José</span>
                        <i class="ico ico-gt-down"></i>
                    </div>
                    <ul class="select-box-options">
                        <li class="location">Alajuela</li>
                        <li class="location">Cartago</li>
                        <li class="location">Guanacaste</li>
                        <li class="location">Heredia</li>
                        <li class="location">Limón</li>
                        <li class="location">Puntarenas</li>
                        <li class="location selected">San José</li>      
                    </ul>
                </div>
            </div>
        </div>  
    </div>
    <div class="bike-content-container rotated-container">
        {% for page in site.pages %}
            {% if page.is-bike == true %}
                    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
                    {% if thecycle == 'even' %}
                        <div class="is-rotated rotated-alternate-bg has-rotated rotated-left">
                            <div class="alternate-background rotated-content">
                                <div class="container bikes-container">
                                    <div class="col8">
                                        <div>
                                            <img src="{{ page.bike-img }}" alt="{{ page.model }}">    
                                        </div>    
                                    </div>  
                                    <div class="col4-last">
                                        <div class="bikes-features">
                                            <h3>{{ page.model }}</h3>
                                            {% include modules/feature-list.html %}
                                            <p class="price-container"><span class="price price-medium price-tile">{{ page.financed-price }}</span><strong>FINANCIADO A {{ page.financed-period }} MESES</strong></p>
                                            <p class="price-container"><span class="price price-small price-tile">{{ page.cash-price }}</span><strong>AL CONTADO</strong></p>
                                            <a href="{{ page.more-info-url }}" class="ribbon"><i class="ico ico-ribbon-base"></i><span class="ribbon-content"><strong>MAS INFORMACION</strong><i class="ico ico-gt"></i></span><i class="ico ico-ribbon-point"></i></a>
                                            <a href="#">Comparar Modelos<i class="ico ico-gt-small"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="container bikes-container">
                            <div class="col4">
                                <div class="bikes-features">
                                    <h3>{{ page.model }}</h3>
                                    {% include modules/feature-list.html %}
                                    <p class="price-container"><span class="price price-medium price-tile">{{ page.financed-price }}</span><strong>FINANCIADO A {{ page.financed-period }} MESES</strong></p>
                                    <p class="price-container"><span class="price price-small price-tile">{{ page.cash-price }}</span><strong>AL CONTADO</strong></p>
                                    <a href="{{ page.more-info-url }}" class="ribbon"><i class="ico ico-ribbon-base"></i><span class="ribbon-content"><strong>MAS INFORMACION</strong><i class="ico ico-gt"></i></span><i class="ico ico-ribbon-point"></i></a>
                                    <a href="#">Comparar Modelos<i class="ico ico-gt-small"></i></a>
                                </div>
                            </div>
                            <div class="col8-last">
                                <div>
                                    <img src="{{ page.bike-img }}" alt="{{ page.model }}">    
                                </div>    
                            </div>  
                        </div>
                    {% endif %}
            {% endif %}      
        {% endfor %}
    </div>
</section>
{% contentfor inlinescripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.select-box').selectBox();
    });
</script>
{% endcontentfor %}