<header>
    <section class="header-top">
        <div class="container header-top-content">
            <div class="social-networks">
                <span>Siguenos en:</span>
                <ul class="social-networks-list">
                    <li><a href="#"><i class="ico ico-facebook ico-text">facebook</i></a></li>
                    <li><a href="#"><i class="ico ico-twitter ico-text">twitter</i></a></li>
                    <li><a href="#"><i class="ico ico-gplus ico-text">google plus</i></a></li>
                </ul>
            </div>
            <div class="location">
                <span>Actualmente en:</span>
                <span class="current-location">San Pedro, San Jose</span>
                <a href="">Buscar Punto de Venta</a>
            </div>
        </div>
    </section>
    <nav class="header-bottom">
        <div class="container">
            <a href="#" class="logo"><i class="ico ico-logo ico-text">Serpento</i></a>
            <ul class="menu-list">
                <li><a class="active has-sub-menu" href="bikes.html" data-showsubmenu=".motos" >Motocicletas</a>
                    <div class="sub-menu motos">
                        <div class="sub-menu-hover">
                            <div class="first-category"><p class="sub-menu-text"><strong>Primera Categoria</strong></p><i class="ico-tringle-menu ico border-category"></i></div>
                            <ul class=" slidethis" data-slidethis="id|awards,animate|true,delay|20,speed|300">
                                <li>
                                    <img src="/img/menu-moto1.jpg" alt="P600" >
                                    <p class="sub-menu-text"><strong>Serpento P600</strong></p>
                                </li>
                                <li>
                                    <img src="/img/menu-moto2.jpg" alt="P600" >
                                    <p class="sub-menu-text"><strong>Serpento XR7000</strong></p>
                                </li>
                                <li>
                                    <img src="/img/menu-moto3.jpg" alt="P600" >
                                    <p class="sub-menu-text"><strong>Serpento V8</strong></p>
                                </li>
                                <li>
                                    <img src="/img/menu-moto4.jpg" alt="P600" >
                                    <p class="sub-menu-text"><strong>Serpento V800</strong></p>
                                </li>
                                <li>
                                    <img src="/img/menu-moto4.jpg" alt="P600" >
                                    <p class="sub-menu-text"><strong>Serpento V800</strong></p>
                                </li>
                            </ul>
                            <!-- Indicators -->
                            <a href="javascript:void(0);" data-slidethis="id|awards" class="left slidethis-prev prev"><i class="img-left-arrow img-arrow ico ico-left-arrow ico-text">Prev</i></a>
                            <a href="javascript:void(0);" data-slidethis="id|awards" class="right slidethis-next next"><i class="img-right-arrow img-arrow ico ico-right-arrow ico-text">Next</i></a>
                        </div>
                        <div class="sub-menu-gradient"></div>
                    </div>
                </li>
                
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Donde comprar</a></li>
                <li><a href="#">Talleres</a></li>
                <li><a href="#">Acerca</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
    </nav>
</header>
{% contentfor inlinescripts %}
<script type="text/javascript">
    $(document).ready(function(){
        var tim,
            $hasSubMenuSelec = $('a.has-sub-menu, .sub-menu-hover');
        $hasSubMenuSelec.on({
            mouseenter: function() {
                clearTimeout(tim);
                $($('a.has-sub-menu').data('showsubmenu')).slideDown(500);
            },
            mouseleave: function() {
                tim = setTimeout(function() {
                    $($('a.has-sub-menu').data('showsubmenu')).slideUp(500);
                }, 300);
            }
        });
    });
</script>
{% endcontentfor %}
