<header>
    <section class="header-top">
        <div class="container header-top-content">
            <div class="social-networks">
                <span>Siguenos en:</span>
                <ul class="social-networks-list">
                    <li><a href="#"><i class="ico ico-facebook ico-text">facebook</i></a></li>
                    <li><a href="#"><i class="ico ico-twitter ico-text">twitter</i></a></li>
                    <li><a href="#"><i class="ico ico-gplus ico-text">google plus</i></a></li>
                </ul>
            </div>
            <div class="location">
                <span>Actualmente en:</span>
                <span class="current-location">San Pedro, San Jose</span>
                <a href="">Buscar Punto de Venta</a>
            </div>
        </div>
    </section>
    <nav class="header-bottom">
        <div class="container">
            <a href="#" class="logo"><i class="ico ico-logo ico-text">Serpento</i></a>
            <ul class="menu-list">
                <li><a class="active" href="#">Motocicletas</a>
                    <ul class=" sub-menu slidethis equalHeight" data-slidethis="id|awards,animate|true,delay|20,speed|300">
                        <li>
                            <img src="/img/menu-moto1.jpg" alt="P600" >
                            <p>Serpento P600</p>
                        </li>
                        <li>
                            <img src="/img/menu-moto2.jpg" alt="P600" >
                            <p>Serpento XR7000</p>
                        </li>
                        <li>
                            <img src="/img/menu-moto3.jpg" alt="P600" >
                            <p>Serpento V8</p>
                        </li>
                        <li>
                            <img src="/img/menu-moto4.jpg" alt="P600" >
                            <p>Serpento V800</p>
                        </li>
                    </ul>
                    <!-- Indicators -->
                    <a href="javascript:void(0);" class="left slidethis-prev" data-slidethis="id|awards"></a>
                    <a href="javascript:void(0);" class="right slidethis-next" data-slidethis="id|awards"></a>    
                </li>
                
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Donde comprar</a></li>
                <li><a href="#">Talleres</a></li>
                <li><a href="#">Acerca</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
    </nav>
</header>
{% contentfor inlinescripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.equalHeight').setColumnsEqualHeight({
            parentHasHeight: true
        });
    });
</script>
{% endcontentfor %}