<header>
    <section>
        <div class="container headerTop">
            <div class="socialNetworks">
                <span>Siguenos en:</span>
                <ul>
                    <li><a href="#"><i class="ico ico-facebook"></i>facebook</a></li>
                    <li><a href="#"><i class="ico ico-twitter ico-text"></i>twitter</a></li>
                    <li><a href="#"><i class="ico ico-gplus ico-text"></i>google plus</a></li>
                </ul>
            </div>
            <div class="location"></div>
        </div>
    </section>
    <nav class="menu">
        <h1><i class="ico ico-logo ico-text">Serpento</i></h1>
        <ul>
            <li>Motocicletas</li>
            <li>Accesorios</li>
            <li>Donde comprar</li>
            <li>Talleres</li>
            <li>Acerca</li>
            <li>Contacto</li>
        </ul>
    </nav>
</header>