.main-banner {
    background-image: url("#{$img-path}bg-home-main-banner.png");
    background-position: top right;
    background-repeat: no-repeat;
}

.main-banner-content {
    > h1 {
        font-family: 'Source Sans Pro', sans-serif;
    }
}