.main-banner {
    min-height: 670px;
}

.main-banner-container {
    //background: $base-color;

    > div {
        padding-top: 6.25em; //100px
        padding-bottom: 2.5625em; //41px
    }
}

.main-banner-content {
    color: $inverted-base-color;
    position: relative;
    z-index: 2;

    > h1 {
        color: $inverted-base-color;
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 0.9em;
        letter-spacing: -0.03em;
        text-transform: uppercase;
    }

    > ul,p {
        color: $inverted-base-color;
    }

    > p {
        margin-bottom: 0;
        line-height: 2.2em;
    }

    > .ribbon {
        margin-top: 1.25em; //20px
        margin-right: 1.142857143em; //16px
    }
}

.main-banner-image {
    background-position: right top;
    background-repeat: no-repeat;
    height: 698px;
    position: absolute;
    width: 100%;
    z-index: 1;

    &.red-bike {
        background-image: url("#{$img-path}bg-home-main-banner.png");
    }

    &.green-bike {
        background-image: url("#{$img-path}bg-home-main-banner-2.png");
    }

    &.blue-bike {
        background-image: url("#{$img-path}bg-home-main-banner-3.png");
    }

    @media all and (max-width: 1600px) {
        background-position: 630px 0; 
    }
}