// Susy grids

$total-columns: 12;
$column-width: 4em;
$gutter-width: 1.25em;
$container-width: 1000px;

/*
 * Base styles
 */

body {
    background: #ffffff;
    font-size: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    min-width: 1000px;
}

h1, h2, h3, h4, h5, h6, p, ul {
    color: $base-color;
    margin: 0 0 30px 0;
    padding: 0;
}

h1 {
    color: $base-color;
    font-size: 4.5em; //45px
    font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    > sup {
        font-size: 25%;
        top: -1.8em;
    }
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.1875em; //35px
    margin-bottom: 0.142857143em; //5px
    text-transform: uppercase;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.714285714em;
}

h5 {
    font-size: 1.285714286em;
}

h6 {
    font-size: 1em;
}

p {
    // margin-bottom: 1.785714286em;
    margin-bottom: 1.428571em;
}

a {
    color: $base-color;
    font-size: 0.875em; //14px
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: #7db701;
        text-decoration: underline;
    }

    &.inverted {
        color: $inverted-base-color;
    }
}

hr {
    margin: 2.142857143em 0;
    border-top: 0.071428571em solid #e0e0e0;
}

table {
    table-layout: fixed;
    width: 100%;
}

// IE 7 fixes
.lt-ie8 {
    ul {
        padding-left: 1.142857143em;
    }

    li {
        vertical-align: top;
    }
}
