.bx-wrapper {
    .bx-viewport {
        border: none !important;
        box-shadow: none !important;
        left: 0 !important;
    }

    .bx-prev {
        background: none !important;
        left: 0 !important;
    }

    .bx-next {
        background: none !important;
        right: 0 !important;
    }

    .bx-controls-direction a {
        background-color: #F5F5F5 !important;
        height: 200px !important;
        margin-top: -100px !important;
        text-indent: 0 !important;
        width: 70px !important;
    }
}


.img-left-arrow {

}

.img-right-arrow {

}

.img-arrow {
    left: 50%;
    margin-left: -6px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
}