.bx-wrapper {
    .bx-viewport {
        border: none !important;
        background: none !important;
        box-shadow: none !important;
        left: 0 !important;
        z-index: 10;
    }

    .bx-prev {
        background: none !important;
        left: 0 !important;
    }

    .bx-next {
        background: none !important;
        right: 0 !important;
    }

    .bx-controls-direction a {
        background-color: #F5F5F5 !important;
        height: 200px !important;
        margin-top: -100px !important;
        text-indent: 0 !important;
        width: 70px !important;
    }

    .rotate {
        background: $base-color;
        margin-top: -45px;
    }
}

.img-left-arrow {

}

.img-right-arrow {

}

.img-arrow {
    left: 50%;
    margin-left: -6px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
}

.bx-viewport-bg {
    background-color: #000000;
    bottom: 3em;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    .bx-viewport-container-bg-rotate {
        bottom: -100px;
        height: 140px;
        overflow: hidden;
        position: absolute;
        width: 100%;
    }

    .rotate {
        bottom: 65px;
        height: auto;
        margin-left: -12px;
        margin-top: 0;
        padding: 0;
        position: absolute;
        top: 0;
    }
}

/*
** SlideThis Carousel
*/

.slidethis {
    overflow: hidden;
    position: relative;
}

.slidethis-controls {
    background-color: #F5F5F5;
    border: 1px solid #e0e0e0;
    position: absolute;
    text-align: center;
    top: 50%;
    vertical-align: middle;
    width: 60px;

    > .slider-hover {
        display: none;
    }

    &:hover {
        background-color: $highlight-color;
        border-color: $highlight-color;

        > .slider-normal {
            display: none;
        }

        > .slider-hover {
            display: inline-block;
        }
    }
}

.best-sale-slider {
    position: relative;

    > .slidethis-controls {
        
        line-height: $sales-slider-controls-height;
        margin-top: -($sales-slider-controls-height / 2);
        height: $sales-slider-controls-height;
        
        &.slidethis-prev {
            left: -120px;
        }

        &.slidethis-next {
            right: -120px;
        }
    }
}

.best-sale-slider-container {
    > .sale-slider-column {
        width: 320px;
    }
}


