/*
** General
*/ 

.content-header {
    > div:first-child {
        float: left;
    }

    > .sale-location {
        float: right;

        > span {
            font-weight: bold;
        }

        > .select-box {
            margin-left: 1em; //16px
            z-index: 99;
        }
    }
}

/*
** Best Sale
*/
.best-sale-slider {
    margin-top: 3.75em; //60px
}

.best-sale-container {
    padding-left: 0;
    padding-right: 0;
}

.sale-column {
    
    &:hover {
        background-color: $alternate-background;
        border:0.0625em solid #e0e0e0;
        border-top: 0.25em solid $highlight-color;
        padding: 2.25em 1.8125em 2.4375em 1.8125em; //36px 29px 39px 29px
    }

    padding: 2.5em 1.875em; //40px 30px

    > .list {
        font-size: 0.875em; //14px
        color: $base-font-color;
    }

    > p {
        color: $base-font-color;
        line-height: 1;
        margin-bottom: 1.875em; //30px
    }

    > h3 {
        font-size: 1.5em; //24px
    }

    > .best-sale-product {
        margin: 0 auto 3.4375em auto;
    }

    > .ribbon {
        margin-bottom: 2.142857143em; //30px
    }
}

/*
** Offers
*/

.offers {
    padding-top: 82px;

    > .rotate {
        background-color: $alternate-background;
        border-top: 1px solid #e4e4e4;
        position: absolute;
        top: 45px;
    }

    > .offers-container {
        background-color: $alternate-background;
        position: relative;
        z-index: 1;
    }
}

.offers-content {

    > p {
       color: $base-font-color; 
       max-width: 50%;
    } 
    
}

.offers-column-container {
    margin-top: 3.75em; //60px
    margin-bottom: 5.625em; //90px
    overflow: hidden;
}

.offers-column {
    background-color: #eaeaea;
    border: 1px solid #cfcfcf;
    line-height: 200px;
    min-height: 200px;
    text-align: center;

    > span {
        color: $base-font-color; 
        font-weight: bold;
        vertical-align: middle;
    }
}