.header-top {
  background-color: $base-color;
  border-bottom: 1px solid #292929;
}
.header-top-content{
  > .social-networks {
    
  }
}
.social-networks-list {
  > li {
    display: inline-block;
  }
}