.container {
    color: $base-color;
    font-size: $base-font-size;
    @include container(1000px);
}

@include breakpoint(1000px) {
    main {
        @include span(8);
    }

    aside {
        @include span(4 at 9);
    }
}

.rotate {
    margin-left: -12px;
    padding: 40px 0;
    width: 102%;
}

.rotate-right {
    transform:rotate(2.5deg);
}

.rotate-left {
    transform:rotate(-2.5deg);
}

.has-rotated {
    overflow: hidden;
    position: relative;
    width: 100%;

    > .rotated-content {
        position: relative;
        z-index: 1;
    }
}

.rotated-container {
    > .is-rotated:last-child {
        padding-bottom: 0;

        &:after {
            display: none;
        }
    }

    > .is-rotated:first-child {
        padding-top: 0;
         
        &:before {
            display: none;
        }
    }
}

.is-rotated {
    padding-top: 80px;
    padding-bottom: 80px;

    
    .before, .after {
        background-color: $alternate-background;
        position: absolute;
        transform: rotate(-2.5deg);
        width: 104%;
    }


    .before {
        border-top: 1px solid #e4e4e4;
        padding-bottom: 80px;
        top: 34px;
    }

    .after {
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 80px;
        bottom: 34px; 
    }

    // &.rotated-alternate-bg {
    //     &:before {
    //         background-color: $alternate-background;
    //         border-top: 1px solid #e4e4e4;
    //     }

    //     &:after {
    //         background-color: $alternate-background;
    //         border-bottom: 1px solid #e4e4e4;
    //     }
    // }

    // &:before of &:after {
    //     content: "";
    //     display: block;
    //     padding: 50px 0;
    //     width: 102%;
    //     position: absolute;
    // }

    // &.rotated-left {
    //     &:before {
    //         transform:rotate(-2.5deg);
    //         top: 34px;
    //     }

    //     &:after {
    //         transform:rotate(-2.5deg);
    //         bottom: 34px; 
    //     }
    // }
}

.alternate-background {
    background-color: $alternate-background;
}

.col1 {
    @include span (1);
}

.col1-last {
    @include span (1 at 11);
}

.col2 {
    @include span (2);
}

.col2-last {
    @include span (2 at 11);
}

.col3 {
    @include span (3);
}

.col3-last {
    @include span (3 at 10);
}

.col4 {
    @include span (4);
}

.col4-last {
    @include span (4 at 9 );
}

.col5 {
    @include span (5);
}

.col5-last {
    @include span (5 at 8);
}

.col6 {
    @include span (6);
}

.col6-last {
    @include span (6 at 7);
}

.col7 {
    @include span (7);
}

.col7-last {
    @include span (7 at 6);
}

.col8 {
    @include span (8);
}

.col8-last {
    @include span (8 at 5);
}

.col9 {
    @include span (9);
}

.col9-last {
    @include span (9 at 4);
}

.col10 {
    @include span (10);
}

.col10-last {
    @include span (10 at 3);
}

.col11 {
    @include span (11);
}

.col11-last {
    @include span (11 at 2);
}

.col12-last {
    @include span (12 at 1);
}