.container {
    color: $base-color;
    font-size: $base-font-size;
    min-width: 1000px;
    @include container;
}

.rotate {
    margin-left: -12px;
    padding: 40px 0;
    width: 102%;
}

.rotate-right {
    transform:rotate(2.5deg);
}

.rotate-left {
    transform:rotate(-2.5deg);
}

.has-rotated {
    overflow: hidden;
    position: relative;
    width: 100%;

    > .rotated-content {
        position: relative;
        z-index: 1;
    }
}

.rotated-container {
    > .is-rotated:last-child {
        padding-bottom: 0;

        &:after {
            display: none;
        }
    }

    > .is-rotated:first-child {
        padding-top: 0;
         
        &:before {
            display: none;
        }
    }
}

.is-rotated {
    padding-top: 80px;
    padding-bottom: 80px;

    &.rotated-alternate-bg {
        &:before {
            background-color: $alternate-background;
            border-top: 1px solid #e4e4e4;
        }

        &:after {
            background-color: $alternate-background;
            border-bottom: 1px solid #e4e4e4;
        }
    }

    &:before, &:after {
        content: "";
        display: block;
        padding: 50px 0;
        width: 102%;
        position: absolute;
    }

    &.rotated-left {
        &:before {
            transform:rotate(-2.5deg);
            top: 34px;
        }

        &:after {
            transform:rotate(-2.5deg);
            bottom: 34px; 
        }
    }
}

.alternate-background {
    background-color: $alternate-background;
}

.col1 {
    @include span-columns(1, 12);
}

.col1-last {
    @include span-columns(1 omega, 12);
}

.col2 {
    @include span-columns(2, 12);
}

.col2-last {
    @include span-columns(2 omega, 12);
}

.col3 {
    @include span-columns(3, 12);
}

.col3-last {
    @include span-columns(3 omega, 12);
}

.col4 {
    @include span-columns(4, 12);
}

.col4-last {
    @include span-columns(4 omega, 12);
}

.col5 {
    @include span-columns(5, 12);
}

.col5-last {
    @include span-columns(5 omega, 12);
}

.col6 {
    @include span-columns(6, 12);
}

.col6-last {
    @include span-columns(6 omega, 12);
}

.col7 {
    @include span-columns(7, 12);
}

.col7-last {
    @include span-columns(7 omega, 12);
}

.col8 {
    @include span-columns(8, 12);
}

.col8-last {
    @include span-columns(8 omega, 12);
}

.col9 {
    @include span-columns(9, 12);
}

.col9-last {
    @include span-columns(9 omega, 12);
}

.col10 {
    @include span-columns(10, 12);
}

.col10-last {
    @include span-columns(10 omega, 12);
}

.col11 {
    @include span-columns(11, 12);
}

.col11-last {
    @include span-columns(11 omega, 12);
}

.col12-last {
    @include span-columns(12 omega, 12);
}