//variables

$img-path: "../img/";
 
//Colors

//base color for headings and backgrounds
$base-color: #000000;

//inverted color
$inverted-base-color: #FFFFFF;

//base font color
$base-font-color: #666666;

//yellow highlight color
$highlight-color: #ffc000;

//alternate background color
$alternate-background: #f5f5f5;

//alternate inverted color
$alternate-inverted-color: #7f7f7f;

// main font font-family
$main-font: 'Helvetica Neue', Helvetica, Arial, sans-serif; 

//base font size
$base-font-size: 16px;

