//variables

$img-path: "../img/";

//Colors

//base color for headings and backgrounds
$base-color: #000000;

//base font color
$base-font-color: #666666;

//yellow highlight color
$highlight-color: #ffc000;

//alternate background color
$alternate-background: #f5f5f5;

// main font font-family
$main-font: 'Helvetica Neue', Helvetica, Arial, sans-serif; 

