<section class="main-banner has-rotated">
    <div class="main-banner-image"></div>
    <div class="main-banner-container actual-bg-height">
        <div class="container">
            <div class="col6 main-banner-content">
                <h1>Lorem ipsum dolor sit</h1>
                <ul class="list">
                    <li>Lorem ipsum dolor sit amet consectetur</li>
                    <li>Adipisicing elit sed do eiusmod</li>
                    <li>Incididunt labore dolore magna</li>
                </ul>
                <p class="price-container"><span class="price price-large">¢50.000</span><strong>FINANCIADO A 16 MESES</strong></p>
                <p class="price-container"><span class="price price-small">¢750.000</span><strong>AL CONTADO</strong></p>
                <a href="#" class="ribbon"><i class="ico ico-ribbon-alternate-base"></i><span class="ribbon-content ribbon-alternate"><strong>MAS INFORMACION</strong><i class="ico ico-gt-alternate"></i></span><i class="ico ico-ribbon-alternate-point"></i></a>
                <a href="#" class="inverted">Comparar Modelos<i class="ico ico-gt-small"></i></a>
            </div> 
        </div>
    </div>
    
</section>